<!doctype html>
<html lang="en">

<head>
  <title>Landing Page Example</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Normalize styles for every browser -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.css">
  
  <!-- Our style -->
  <link rel="stylesheet" href="main.css">
  
</head>

<body>
  
  <!-- Set header-image -->

  <header>
    
    <nav>
      Logo and navigation menu here
    </nav>
    
    <div class="header-image">
      <!-- Image is set via CSS -->
    </div>
    
  </header>
  
  <main>
    Main content here
  </main>
  
  <footer>
    Footer here
  </footer>
  
</body>

</html>
