* {
  box-sizing: border-box; }

/* #6C98BE */
body {
  background: #51728E;
  padding: 50px; }

.main {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.code {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  font-family: monospace;
  background-color: #47667F;
  font-size: 80%;
  padding: 15px;
  overflow: auto; }

nav {
  padding: 20px;
  color: #D5E2EB;
  font-size: 30px;
  background-color: #3E5A73;
  border-radius: 5px;
  margin-bottom: 50px; }

@media (max-width: 500px) {
  body {
    padding: 30px; }
  nav {
    margin-bottom: 25px; } }

@media (max-width: 1000px) {
  .code {
    /* flex-start makes the code overflow the screen */
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch; } }

section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 30px;
  font-size: 18px;
  color: #D5E2EB; }

section h3 {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  color: #D5E2EB;
  background-color: #3E5A73;
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px; }

section ul {
  padding-left: 0px; }

section li {
  list-style: none;
  margin-bottom: 10px; }

a {
  color: #D5E2EB; }
