/* You can try SASS code here: http://www.sassmeister.com/ */

$main-color-dark: #42388a;
$main-color: rgb(80, 70, 160);
$main-color-light: rgb(100, 85, 200);
$main-color-lighter: rgb(139, 130, 219);
$main-color-lightest: rgb(203, 198, 255);

$font-code-then: 'Verdana', sans-serif;
$font-text: 'Open Sans', sans-serif;

* { box-sizing: border-box; }

body {
  font-family: $font-text;
}

a {
  color: black;
  text-decoration: none;
  border-bottom: 1px dotted gray;
}

a:hover {
  color: $main-color-lighter;
  border-bottom: 1px solid $main-color-lighter;
}

header {
  /*
  background-image: url(../../code-then/stars.jpg);
  background-position: center center;
  */
  font-family: $font-code-then;
  background-color: $main-color;
  height: 400px;
  color: white;
  font-size: 70px;
  text-align: center;
  /* text-shadow: 2px 2px #000000; */
  display: flex;
  align-items: center;
  justify-content: center;

  .symbol {
    color: $main-color-dark;

    &.dot {
      font-family: $font-text;
    }
  }

  .then {
    color: $main-color-lightest;
  }
}

header > div {
  display: none;
}

.title-icon {
  height: 45px;
  margin-bottom: -15px;
  margin-right: 7px;
}

.language-selector {
  position: absolute;
  right: 50px;
}
#language-button {
  display: inline-block;
  width: 120px;
}
.language-selector a {
  border: none;
}
.flag-link {
  display: flex;
  margin-top: 8px;
}
.language-text {
  margin-left: 5px;
}
#languages {
  display: none;
  background: white;
  margin-top: 7px;
  border: 1px solid lightgray;
  padding-left: 10px;
  padding-bottom: 5px;
}

.highlight {
  border: 1px solid darkgray;
  padding: 10px;
  margin-bottom: 40px;
}

button {
  background-color: $main-color;
  color: white;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 5px 12px;
}
#collapse {
  display: none;
}
#expand {
  margin-right: 20px;
}

button:hover {
  background-color: $main-color-light;
  cursor: pointer;
}

.milestone {
  color: gray;
}

.content-header {
  padding: 40px 80px;
  background: #f4f4f4;

  code {
    font-family: $font-code-then;
  }
}

h1 {
  margin-top: 50px;
}

main {
  position: relative;
  padding: 0 80px;
}

ol {
  margin-top: 3px;
  margin-bottom: 10px;
  padding-left: 20px;

  > li {
    list-style: none;

    > i {
      color: $main-color-lighter;
    }
  }

  ul {
    display: none;
  }
}

.section-title {
  font-weight: bold;
}

.contents-cursor {
  color: lightgrey;
}

.clickable:hover  {
  color: $main-color-light;
  border-bottom: 1px dotted $main-color-light;
  cursor: pointer;
}

footer {
  color: white;
  margin-top: 50px;
  height: 100px;
  background-color: $main-color;
  /*
  background-image: url(../../code-then/stars.jpg);
  background-position: center 30%;
  */
  padding: 0 80px;
  display: flex;
  align-items: center;

  a {
    color: white;
  }

  a:hover {
    color: $main-color-lightest;
    border-bottom: 1px solid $main-color-lightest;
  }

  div {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

@media (min-width:501px) {
  .mobile-separator {
    display: none;
  }
}

@media (max-width:500px) {

  header {
    height: 300px;
    font-size: 35px;
  }
  .content-header {
    padding: 40px 20px;
    background: #f4f4f4;
  }
  .language-selector {
    position: absolute;
    right: 20px;
  }
  #language-button {
    width: 46px;
  }
  .flag {
    right: 20px;
  }
  .language-text {
    display: none;
  }
  main {
    padding: 0 20px;
  }
  footer {
    height: 70px;
    padding: 0 20px;
  }
}

/* Typed: animated blinking cursor */

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
