
* { box-sizing: border-box; }

$box-color: #3E5A73; /* #6C98BE */
$text-color: #D5E2EB;
$bg-color: #51728E;

body {
	background: $bg-color;
	padding: 50px;
}

.main {
	display: flex;
	flex-direction: column;
}

.code {
	align-self: flex-start;
	font-family: monospace;
	background-color: #47667F;
	font-size: 80%;
	padding: 15px;
	overflow: auto;
}

nav {
	padding: 20px;
	color: $text-color;
	font-size: 30px;
	background-color: $box-color;
	border-radius: 5px;
	margin-bottom: 50px;
	display: flex;
	align-items: flex-end;
}

$nav-img-size: 70px;

nav img {
	width: $nav-img-size;
	height: $nav-img-size;
	margin-right: 20px;
}


@media(max-width: 500px) {
	body {
		padding: 30px;
	}
	nav {
		margin-bottom: 25px;
	}
}
@media(max-width: 1000px) {
	.code {
		/* flex-start makes the code overflow the screen */
		align-self: stretch;
	}
}


section {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
	font-size: 18px;
	color: $text-color;
}

section h3 {
	align-self: flex-start;
	color: $text-color;
	background-color: $box-color;
	padding: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
}

section ul {
	padding-left: 0px;
}

section li {
	list-style: none;
	margin-bottom: 10px;
}

a {
	color: $text-color;
}
