<!doctype html>
<html lang="en">

<head>
  <title>Landing Page Example</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Normalize styles for every browser -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.css">
  
  <!-- Our style -->
  <link rel="stylesheet" href="main.css">
  
</head>

<body>
  
  <!-- Description paragraphs displayed horizontally with Flexbox -->

  <header>
    
    <nav>
      Logo and navigation menu here
    </nav>
    
  </header>
  
  <main>
    
    <h1>Flexible Colors</h1>
    
    <h2>Palettes that adapt to your needs</h2>
    
    <div class="description">
     
      <p class="first">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ipsum ante, ultricies a maximus vel, finibus in metus. Etiam tempor est nec elementum rhoncus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus ullamcorper quam nec egestas consectetur.
      </p>
      
      <p>
        Nulla nec elit quis quam ullamcorper sagittis. Nulla facilisi. Vivamus consectetur iaculis orci. Integer lacinia, nulla non tempus efficitur, metus nulla fermentum magna, vitae interdum arcu diam eget justo. Nam iaculis laoreet ligula in ultricies. Vivamus consequat ullamcorper facilisis. In dapibus vehicula venenatis. Nulla facilisi. Sed dictum nec dolor vitae vulputate.
      </p>
      
    </div>
    
  </main>
  
  <footer>
    By You
  </footer>
  
</body>

</html>
